*{
    margin: 0;
    padding: 0;
}
.wpwl-form{
    max-width: none;
    margin: 0 auto 2px !important;
    padding: 15px !important;
}
.wpwl-container{
    max-width: 440px;
    margin: 0 auto;
}
.wpwl-control{
    height: 34px !important;
}
.wpwl-button{
    margin-top: 10px !important;
}
.btn_cancel {
    float: left;
    color: #fff;
    background-color: #aaa;
    border-color: #999;
    border-radius: 4px;
}
.btn_cancel:hover {
    color: #fff;
    background-color: #999;
}
.page-title h1{
    text-align: center !important;
}

.payment-logo{
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 20px;
}
.wpwl-form{
    margin: 0 auto 2px !important;
}
.frametest{
    margin: 20px auto 0;
    width: 100%;
    border: 10px solid red;
    max-width: 440px;
    padding: 0;
}
.testmode{
    margin: 0 auto !important;
    padding: 3px 0 10px 0;
    width: 100%;
    font-size: 13px !important;
    font-weight: bold;
    color: #fff !important;
    background-color: red;
    text-align: center;
    max-width: 440px;
}

.register-tooltip{
    font-size:11px;
    margin:10px auto;
    width: 100%;
    max-width: 430px;
    padding:0 5px;
    text-align: center;
    color : #333;
}

.wpwl-container-virtualAccount-PAYPAL{
    max-width: none;
}

.wpwl-form-virtualAccount-PAYPAL .wpwl-button-brand {
    float:none;
    margin: 0 auto !important;
}
.wpwl-form-virtualAccount-PAYPAL .payment-brand{
    width: 146px;
    padding-top: 15px;
    margin: 0 auto !important;
}
.wpwl-form-virtualAccount-PAYPAL .btn-box{
    padding: 20px 13px 23px;
}

/*css for one click saved payment */
.wpwl-wrapper-registration-details{
    width: 70% !important;
    padding: 0 0 0 20px !important;
}

/* table payment overview */
#liste td.listitem, #liste td.listitem2{
    padding-left:2px;
    padding-right:2px;
}

#content-wrapper {
    background: white;
    padding: 20px 0px;
}
#wrapper {
    padding-bottom: 25px;
}
.wpwl-group-customGTC label {
    text-align: justify !important;
}
.wpwl-button-brand {
    min-width: inherit;
}
#wpwl-registrations {
    margin-bottom: 20px;
}









