.payment-option {
    margin-bottom: 10px;
}
.payment-option img {
    height: 40px;
    margin: -5px 5px 10px 0px !important;
    float: left;
}
.additional-information {
    margin-top: 0px !important;
}










